Package: enigma2-plugin-extensions-xklass
Version: 1.49-20250430
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: IPTV Xtream Codes/XUI One playlists player by KiddaC
Depends:
Source: https://www.linuxsat-support.com
